.containerQH{
    margin-top: 6%;
    overflow: auto;
    
}
.containerButtonQH{
    display: flex;
    justify-content: center;
    height: 350px;
    padding: 0 5% 0 5%;
}
.QH{
    padding:0 5% 0 5%;
}

.linea{
    width:200px;
    height: 1px;
    flex-direction: row;
    border: #DDDDDD 1px solid;
    background-color: #DDDDDD;
    margin-top: 6%;

}
.title-Icon-QH{
    color: #1D1D1D;
    font-size: 37px;
    font-weight: 700;
}